{% extends 'main/pattern.html' %}
{% block title %}Messages 5676{% endblock %}
{% block content %}
    <!--
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type = "submit" value = "Start parsing">
    </form>
    -->

    <h1>Messages in Database</h1>
    <div>
    <table class="table table-dark table-hover">
        <tr class="table-active">
                <th>ID</th>
                <th>Number</th>
                <th>Operation Station</th>
                <th>Operation Code</th>
                <th>Operation Date</th>
                <th>Count of vagons</th>
                <th>Count of heavy vagons</th>
                <th>Count of light vagons</th>
                <th>Locomotive Series </th>
                <th>Locomotive Number</th>
                <th>DateTime of parsing</th>
            </tr>
    {% for msg in messages %}
           <tr>
               <td>{{ msg.ip }}</td>
               <td>{{ msg.num }}</td>
               <td>{{ msg.op_st }}</td>
               <td>{{ msg.op_name }}</td>
               <td>{{ msg.op_dt }}</td>
               <td>{{ msg.vag_all }}</td>
               <td>{{ msg.vag_h }}</td>
               <td>{{ msg.vag_l }}</td>
               <td>{{ msg.loc_ser }}</td>
               <td>{{ msg.loc_num }}</td>
               <td>{{ msg.parse_dt }}</td>
           </tr>
            {% endfor %}
    </table>
    </div>
{% endblock %}
